mixin item-link(slug, name, currentName)
    if currentName == name
        li.c-nav__list__item.is-selected
            a(href=slug)= name
    else
        li.c-nav__list__item
            a(href=slug)= name

mixin item-decoration(content)
    li.c-nav__list__item.c-nav__list__item--decoration= content

mixin nav(currentName)
    nav.c-nav
        .c-nav__hero
            h1.c-nav__title Zoë Osenbach Bookkeeping
            h3.c-nav__subtitle Solutions, Organization, Success

        ul.c-nav__list.u-clearfix
            +item-link('/', 'About', currentName)
            +item-decoration('÷')
            +item-link('/services', 'Services', currentName)
            +item-decoration('×')
            +item-link('/resources', 'Resources', currentName)
            +item-decoration('+')
            +item-link('/contact', 'Contact', currentName)
            +item-decoration('=')
