doctype html
html(lang="en")
    include ./_head.jade
    body.u-clearfix

        include ./_nav.jade
        +nav('Contact')

        .c-content
            p To set up a free consultation and get the process started please use the following:

            .c-centered-big
                a(
                    href='mailto:zoe@zoeobookkeeping.com'
                ) zoe@zoeobookkeeping.com
                a(
                    href='tel:+13603200384'
                ) 360.320.0384

