doctype html
html(lang="en")
    include ./_head.jade
    body.u-clearfix

        include ./_nav.jade
        +nav('Contact')

        .c-content
            h2 Aliquam erat volutpat
            p Curabitur convallis nunc non diam ullamcorper consectetur at sit amet nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum metus vitae dapibus pretium. Vivamus ut accumsan dolor, sed facilisis magna. Donec sed metus ante. Donec tempor auctor ipsum at pulvinar. Morbi malesuada tellus felis. Donec eget blandit tortor. Quisque finibus, nisi vitae ullamcorper consequat, dolor est facilisis turpis, ut semper nisl nisl eget nulla. Cras sed ultrices nisi, porta venenatis urna.
