doctype html
html(lang="en")
    include ./_head.jade
    body.u-clearfix

        include ./_nav.jade
        +nav('Contact')

        .c-content
            p To set up a free consultation and get the process started please use the following:

            ul.c-contact-list
                li
                    a(href='mailto:zoe@zoeobookkeeping.com') zoe@zoeobookkeeping.com
                li
                    a(href='tel:+13603200384') 360.320.0384

