doctype html
html(lang="en")
    include ./_head.jade
    body.u-clearfix

        include ./_nav.jade
        +nav('About')

        .c-content
            h2 Lorem ipsum dolor sit amet
            p consectetur adipiscing elit. Maecenas dolor felis, volutpat id finibus id, vulputate non eros. Cras semper, nulla at tincidunt laoreet, risus orci mattis libero, eu feugiat libero elit tristique mauris. Donec feugiat ligula ac maximus iaculis. Ut condimentum ex est, vitae eleifend ex aliquet a. Proin nec nisl dui. Etiam enim elit, tristique vitae venenatis eget, fringilla sit amet libero. Aenean iaculis, nisi eu pellentesque tempor, urna orci vehicula lacus, vitae vestibulum augue dui et magna. Suspendisse sollicitudin leo ut quam volutpat fringilla. Praesent massa augue, iaculis a lacus quis, accumsan ultricies ante. Nam id viverra diam, sed aliquam lacus. Aliquam vitae justo ac diam finibus posuere non vitae mi. Aliquam ullamcorper massa nec maximus pharetra. Sed accumsan ex non neque semper porttitor.


