doctype html
html(lang="en")
    include ./_head.jade
    body.u-clearfix

        include ./_nav.jade
        +nav('About')

        .c-content
            h2 Experienced assistance to streamline bookkeeping for your business
            ul
                li More than 7 years of on the job experience
                li Certified Bookkeeper (Seattle Colleges)
                li Quickbooks Pro Certified

            p I’ve worked in the bookkeeping and accounting field since 2009. I entered the field in medical billing and large hospital accounting and since then I have spent time as an independant staff accountant for larger businesses (varying from Vineyards and Wineries to Traveling Artists to Non-Profits). My favorite endeavor, however, was a recent position at a small business bookkeeper on Whidbey Island (Tamera Lewis Tax & Accounting), where I had the opportunity to work with several different small businesses including construction, restaurants, breweries, and salons, just to name a few. This gave me a wide range of experience in dealing with all sorts of different setups, sizes, and bookkeeping needs. I’ve now moved to Seattle to pursue my own business, and look to replicate the enjoyment and satisfaction that comes from working with such a wonderful variety of passionate self starting small business owners.

            img.c-certification(
                src='/dist/img/IntuitCertifiedProAdvisorQuickbooks.png',
                alt='Intuit Certified ProAdvisor Quickbooks'
            )
            img.c-certification(
                src='/dist/img/CertifiedBookkeeperSeattleColleges.jpg',
                alt='Certified Bookkeeper Seattle Colleges'
            )


