doctype html
html(lang="en")
    include ./_head.jade
    body.u-clearfix

        include ./_nav.jade
        +nav('Resources')

        .c-content
            h2 Sed sagittis dapibus justo sit amet mollis.
            p Ut luctus at risus eu viverra. Quisque in mauris ac mi imperdiet maximus. Nullam ac ligula tortor. Aenean malesuada nibh nulla, tempor faucibus metus iaculis vel. Aliquam eu sem risus. Aenean tempus leo vitae ipsum tincidunt tempus. Phasellus laoreet tellus vel eros porttitor finibus quis ac neque. Sed rutrum, ligula nec tincidunt porta, urna odio scelerisque justo, ac ornare diam leo in tortor. In mollis hendrerit mi, ut lobortis augue vulputate eget. Fusce dolor tortor, posuere in pellentesque vel, finibus in eros. Praesent ultrices tincidunt lacus, ac suscipit mi vehicula quis.
