doctype html
html(lang="en")
    include ./_head.jade
    body.u-clearfix

        include ./_nav.jade
        +nav('Services')

        .c-content
            h2 Services:
            p All services are customizable - our goal is to take the challenge out of bookkeeping for your business. Below are some of the services we offer:
            ul
                li Accounts Receivable - Invoicing/Billing and Payments Received
                li Accounts Payable - Paying & Processing Vendor Bills
                li Financial Account Reconciliation
                li Financial Statement Preparation
                li Payroll
                li Payroll Tax Preparation
                li Sales Tax Preparation
                li End of Year 1099 & W2 Preparation
                li New System Setup Or Existing System Cleanup
                li Quickbooks Desktop (Mac or PC) & Online for remote accessibility
            h2 Fees:
            p All rates are hourly - estimates are available after free consultation.  Each situation is different and a free consultation ensures you the most accurate estimate. We are able to take credit cards.



