doctype html
html(lang="en")
    include ./_head.jade
    body.u-clearfix

        include ./_nav.jade
        +nav('Services')

        .c-content
            h2 Duis vestibulum congue cursus.
            p Quisque gravida in purus vitae hendrerit. Aliquam commodo consectetur sapien, non porta ligula mollis eu. Donec ut molestie tellus. Nullam bibendum eleifend sapien vitae tincidunt. Sed non ante quis magna mattis facilisis. Nulla vel orci et nulla pharetra malesuada non id ligula. Suspendisse suscipit urna vitae fringilla pharetra. Nunc purus elit, sagittis id urna interdum, laoreet molestie ipsum. Fusce scelerisque, turpis et bibendum porta, enim arcu placerat massa, non commodo ante purus et neque. Praesent id blandit orci. Proin id hendrerit ipsum. Phasellus semper, elit at laoreet gravida, quam dolor ullamcorper eros, ac dapibus nisi nunc a est. Vivamus nec quam mollis, sodales mauris in, tristique odio.
