@import '../bower_components/bourbon/dist/_bourbon';
@import url(https://fonts.googleapis.com/css?family=Cinzel:700|Poiret+One);

$headline-font: 'Cinzel';
$body-font: 'Poiret One';

$breakpoint-tablet: 740px;

$green: #71CCB7;
$blue: #759AE6;
//$dark-green: darken($green, 25%);
//$dark-blue: darken($blue, 30%);
$dark-green: white;
$dark-blue: white;

* { @include box-sizing(border-box); }

html {
    height: 100%;
}

body {
    background-color: $green;
    height: 100%;
    font-family: $body-font, sans-serif;
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headline-font, sans-serif;
}

::selection {
    background-color: $blue;
}

$hero-height: 200px;
$item-height: 70px;
.c-nav {
    background: url(/dist/img/background.png);
    background-position: center;
    background-size: 150px;
    border-bottom: 1px solid $dark-green;
    width: 100%;
}

    .c-nav__hero {
        padding: 50px 10px;
        text-align: center;
        text-shadow: 0 0 30px white;
    }

    .c-nav__title {
        color: $blue;
        font-size: 50px;
        margin: 0;

        @media (max-width: $breakpoint-tablet) {
            font-size: 40px;
        }
    }

    .c-nav__subtitle {
        color: darken($blue, 20%);
        font-size: 30px;
        margin: 15px 0 0;

        @media (max-width: $breakpoint-tablet) {
            font-size: 20px;
        }
    }

    .c-nav__list {
        list-style: none;
        margin: 0 auto;
        margin-bottom: -1px;
        padding: 0;
        max-width: $breakpoint-tablet;
    }

        $item-padding: 0;
        $num-links: 4;

        $num-items: $num-links + $num-links - 1;
        $radius: 0;
        .c-nav__list__item {
            background: $blue;
            border: 1px solid $dark-blue;
            border-bottom-color: $dark-green;
            border-top-left-radius: $radius;
            border-top-right-radius: $radius * 3;
            color: white;
            display: block;
            float: left;
            font-size: 16px;
            font-weight: bold;
            line-height: $item-height;
            margin-left: -1px;
            margin-top: -2px;
            position: relative;
            text-align: center;
            width: calc(100% / #{$num-items} + 1px);
            z-index: 0;

            @media (max-width: $breakpoint-tablet) {
                margin-top: -1px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                width: calc(100% / #{($num-items + 1) / 2} + 1px);
            }

            &:hover {
                background: $green;
                border-color: $dark-green;
                border-bottom-color: $green;
                z-index: 1;

                @media (max-width: $breakpoint-tablet) {
                    border-bottom-color: $dark-green;
                }
            }

            &:last-child {
                display: none;

                @media (max-width: $breakpoint-tablet) {
                    display: block;
                }
            }

            &.is-selected {
                background: $green;
                border-color: $dark-green;
                border-bottom-color: $green;
                z-index: 1;

                @media (max-width: $breakpoint-tablet) {
                    border-bottom-color: $dark-green;
                }
            }

            a {
                color: white;
                display: block;
                text-decoration: none;
            }
        }

        .c-nav__list__item--decoration {
            background: transparentize($blue, 0.4);
            font-size: 40px;
            pointer-events: none;
        }

    .c-content {
        color: white;
        margin: 0 auto;
        max-width: $breakpoint-tablet;
        padding: 40px;
    }

        .c-certification {
            border: 1px solid white;
            float: left;
            margin: 50px 20px 40px 0;
            width: 100px;
        }

        .c-centered-big {
            text-align: center;
            font-size: 26px;
        }

            .c-centered-big a {
                color: #fff;
            }

a {
    color: #fe8181;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.u-clearfix:before,
.u-clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.u-clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.u-clearfix {
    *zoom: 1;
}
